*{
    box-sizing: border-box;
    font-family: 'Karla';
}
body {
  margin: 0;
  font-family: 'Karla';

 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

