.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
    color: white;
}

.header--title{
    font-size: 20px;
    margin-right: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 1px;

}
.header--logo{
    height: 100%;
    margin-right: 6px;
}
.header--description{
    right: 0px;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 12px;

}